In [5]:
import pandas as pd
import random
import numpy as np
import datetime

In [20]:
def generate_dataframe():
    # Configuración de las variables
    num_rows = 10

    numeric_variables = {
        'age': {'min': 20, 'mean': 35, 'max': 70},
        'bmi': {'min': 15.96, 'mean': 30.4, 'max': 53.3},
        'children': {'min': 0, 'mean': 1, 'max': 5}}

    categorical_variables = {
        'smoker': {'classes': ['False', 'True'], 'distribution': [80, 20]},
        'region': {'classes': ['southeast', 'southwest','northwest','northeast'], 'distribution': [25, 25, 25, 25]},
        'sex': {'classes': ['False', 'True'], 'distribution': [50, 50]}}

    # Generación de los datos
    data = {}

    idies = np.array([str(''.join(random.choices('ABCDEFGHIJKLMNOPQRSTUVWXYZ', k=6)))
                 for _ in range(num_rows)])
    
    data['user_cod'] = idies

    current_date = datetime.date.today()
    data['date'] = current_date

    for variable, info in categorical_variables.items():
        classes = info['classes']
        distribution = info['distribution']
        data[variable] = np.random.choice(classes, size=num_rows, p=[p/100 for p in distribution])


    for variable, info in numeric_variables.items():
        min_val = info['min']
        mean_val = info['mean']
        max_val = info['max']
        num_rows = 10  # Número de filas de datos que deseas generar

        if variable == 'bmi':
            data[variable] = np.random.normal(loc=mean_val, scale=(max_val - min_val) / 6, size=num_rows).round(2)
        else:
            data[variable] = np.random.normal(loc=mean_val, scale=(max_val - min_val) / 6, size=num_rows).astype(int)
            data[variable] = np.clip(data[variable], min_val, max_val)
        
    df = pd.DataFrame(data)
    df['user_cod'] = df['user_cod'].astype(str)
    df['date'] = pd.to_datetime(df['date']).dt.date
    df['age'] = df['age'].astype(int)
    df['sex'] = df['sex'].astype(str)
    df['bmi'] = df['bmi'].astype(float)
    df['children'] = df['children'].astype(int)
    df['smoker'] = df['smoker'].astype(str)
    df['region'] = df['region'].astype(str)
    
    new_order = ['user_cod','date','age','sex','bmi','children','smoker','region']
    df = df.reindex(columns=new_order)
    
    return df

In [21]:
df = generate_dataframe()

In [22]:
df

  user_cod        date  age    sex    bmi  children smoker     region
0   MWNPSY  2023-07-07   30  False  38.84         0  False  northeast
1   SSDMJW  2023-07-07   37  False  30.92         1   True  northeast
2   OGKTOY  2023-07-07   34  False  40.51         1  False  southwest
3   HSFOKF  2023-07-07   31   True  35.42         0  False  northwest
4   ONPDOI  2023-07-07   37  False  29.96         0   True  northwest
5   TWAKIJ  2023-07-07   30  False  25.71         0  False  northwest
6   RPQRJH  2023-07-07   41  False  35.91         2  False  northeast
7   DHIOIY  2023-07-07   30  False  29.37         0   True  southeast
8   NWPYZG  2023-07-07   38   True  21.00         1  False  northeast
9   FWLEEC  2023-07-07   36  False  22.16         0  False  northwest