In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

## Prep / Feature Engineering

In [3]:
## TRANSFORMADOR AUXILIAR
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer

In [4]:
# Funciones de Preprocesamiento:
def remove_duplicates(df):
    df.drop_duplicates(inplace=True)
    return df

def impute_missing_values(df):
    # Variables categóricas
    categorical_cols = df.select_dtypes(include='object').columns
    #categorical_cols = categorical_cols.drop('churn')  # Excluir 'churn'
    categorical_imputer = SimpleImputer(strategy='most_frequent')
    df[categorical_cols] = categorical_imputer.fit_transform(df[categorical_cols])

    # Variables numéricas
    numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns
    numeric_imputer = SimpleImputer(strategy='mean')
    df[numeric_cols] = numeric_imputer.fit_transform(df[numeric_cols])

    return df


def map_categorical_features(df):
    mapping = {
        'sex': {'female': 1, 'male':0},
        'smoker': {'yes': 1, 'no':0},
        'region': {'southwest': 0, 'southeast': 0.3, 'northwest':0.6, 'northeast': 1}
    }
    
    df.replace(mapping, inplace=True)

    return df

def normalize_numeric_features(df):
    numeric_cols = ['bmi', 'age', 'children']
    scaler = MinMaxScaler()
    df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

    return df

In [5]:
df = impute_missing_values(df)
df = remove_duplicates(df)
df = normalize_numeric_features(df)
df = map_categorical_features(df)

In [6]:
df.dtypes

age         float64
sex           int64
bmi         float64
children    float64
smoker        int64
region      float64
charges     float64
dtype: object

### Optimización de Hiperparametros con Optuna

In [ ]:
%pip install optuna xgboost

In [ ]:

import sklearn.model_selection import StratifiedKfold
from sklearn.metrics import f1_score, accuracy_score, confusion_matrix
import xgboost as xgb
from xgboost import XGBRegressor